<p-growl [(value)]="msgs" [sticky]="true" [life]="3000" ></p-growl>

<p-dialog header="Logeando Ando" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
        <label for="float-input">Username:</label>
        <input type="text" pInputText [(ngModel)]="user"  />
        <label for="float-input">Password:</label>
        <input type="text" pInputText [(ngModel)]="pass"/>
        <label [hidden]="displaymsj.success" for="float-input">{{displaymsj.message}}</label>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="login()" label="Login"></button>
            
        </p-footer>
</p-dialog>


<div [hidden]="displaymsj.success">
    <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Login"></button>
</div>    
<div [hidden]="!displaymsj.success">
    <button type="button" (click)="logout()" pButton icon="pi pi-info-circle" label="Logout"></button>
</div>    


<div [hidden]="!displaymsj.success">

    <h3 class="first">Datos</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa user-circle"></i></span>
                <input type="text" pInputText placeholder="Nombre" [(ngModel)]="theUser.name" [disabled]="true">         
            </div>
        </div>
        
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-send"></i></span>
                <input type="text" pInputText placeholder="tu email" [(ngModel)]="theUser.correo">   
                     
            </div>
        </div>
                
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">@</span>
                <input type="text" pInputText placeholder="twister" [(ngModel)]="theUser.twitter">       
            </div>
        </div>
    </div>

    <button pButton type="button" label="Update" (click)="guardando($event)"></button>

</div>







<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [width]="300">
    <div class="ui-g ui-fluid" *ngIf="car">
        <div class="ui-g-4"><label for="vin">Vin</label></div>
        <div class="ui-g-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
        
        <div class="ui-g-4"><label for="year">Year</label></div>
        <div class="ui-g-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
        
        <div class="ui-g-4"><label for="brand">Brand</label></div>
        <div class="ui-g-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
        
        <div class="ui-g-4"><label for="color">Color</label></div>
        <div class="ui-g-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
